.uncompiled {
	font-family : Courier, sans-serif;
	color : #800080;
}
.normal {
	font-family : Verdana, sans-serif;
	color : #000000;
}
.langKeyword { font-family : Verdana-Bold, sans-serif; color : #000000; font-weight: bold; }
.appKeyword {
	font-family : Verdana, sans-serif;
	color : #0000FF;
}
.comment {
	font-family : Verdana, sans-serif;
	color : #4C4E4E;
}
.literal {
	font-family : Verdana, sans-serif;
	color : #000000;
}
.userDefine {
	font-family : Verdana, sans-serif;
	color : #408000;
}
.stringLiteral {
	font-family : Verdana, sans-serif;
	color : #000000;
}
.commandName { font-family : Verdana-Bold, sans-serif; color : #0000ff; font-weight: bold; }
.parameterName {
	font-family : Verdana, sans-serif;
	color : #0000FF;
}
.className { font-family : Verdana-Italic, sans-serif; color : #0000ff; font-style: italic; }
.propertyName {
	font-family : Verdana, sans-serif;
	color : #6C05D3;
}
.enumeratedValues {
	font-family : Verdana, sans-serif;
	color : #4A1E7F;
}
.additionCommandName { font-family : Verdana-Bold; color : #0016a0; font-weight: bold; }
.additionParameterName {
	font-family : Verdana, sans-serif;
	color : #0016A0;
}
.additionClass { font-family : Verdana-Italic; color : #0016a0; font-style: italic; }
.additionProperty {
	font-family : Verdana, sans-serif;
	color : #4415A0;
}
.additionEnumeratedValue {
	font-family : Verdana, sans-serif;
	color : #261252;
}.sourceCode  { position: relative; font-family: sans-serif; margin: 0.5ex 2em; padding: 1ex; border: solid 2px silver   }
.scriptButton {
	position: absolute;
	top : 0.5em;
	right: 1em; 
	text-align: right;}
